@CHARSET "UTF-8";

/*Advice Box*/
.AdviceBox {
	padding: 8px;
	background-color: #001a3a;
	color: white;
	margin-bottom: 15px;
	border-radius: 5px;
	height: 200px;
	width: 300px;
	font-size: 13px;
	font-family: roboto;
	font-style: normal;
	margin-bottom: 6px;
	border: 3px solid white;
	background-color: #001a3a;
	color: white;
	margin-bottom: 15px;
	border-radius: 5px;
	height: 200px;
	width: 300px;
	font-size: 13px;
	font-family: roboto;
	font-style: normal;
	margin-bottom: 6px;
	border: 3px solid white;
}

/*Close Button*/
.closebtn {
	text-align: center;
	margin-left: 15px;
	color: #001a3a;
	font-weight: bold;
	float: right;
	font-size: 22px; /*close button- Größe */
	line-height: 13px;
	cursor: pointer;
	transition: 0.3s;
	background-color: white;
	border-color: #001a3a;
	border: 2px solid #001a3a;
	height: 20px;
	width: 20px;
	border-radius: 68px 68px 68px 68px;
}

/*Maus über Close Button bewegen */
.closebtn:hover {
	color: #001a3a;
}

/*Bild anpassen */
.logoAdviceBox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	margin-bottom: 5px;
}