@CHARSET "ISO-8859-1";

<<<<<<< HEAD
.ptop {
	padding-top: 60px;
}

.pright {
	padding-right: 0px;
}

.pbottom {
	padding-bottom: 50px;
}

.pleft {
	padding-left: 0px;
}

.center {
	center;
}

.imgWidthHeight {
	width: 40px;
	height: 40px;
}

#navheight{
	height: 60px;
	padding-top: 12px;
	padding-right:10px;
=======


.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid #F2F2F2;
border-right: 1px solid #FFF;
>>>>>>> branch 'master' of https://github.com/deryazeynep/Anstopable.git
}
