@CHARSET "ISO-8859-1";

.ptop {
	padding-top: 60px;
}

.pright {
	padding-right: 0px;
}

.pbottom {
	padding-bottom: 50px;
}

.pleft {
	padding-left: 0px;
}

.center {
	center;
}

.imgWidthHeight {
	width: 40px;
	height: 40px;
}

#navheight{
	height: 60px;
	padding-top: 12px;
	padding-right:10px;
}
