/*Eingabefelder*/
.inputLogin {
	border-radius: 5px;
	height: 40px;
	width: 300px;
	font-size: 13px;
	font-family: brandon-grotesque;
	font-style: normal;
	margin-bottom: 6px;
	border-color: #a1b9ed;
	border: 3px solid #001a3a;
	
}

/*Eingabefeld Benutzername*/
.field-border {
	border: 3px solid #bcd2ee;
	border-radius: 6px;
	font-familiy: roboto-thin;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=text]:focus {
    border: 3px solid #555;
}

/*Login Button LOS*/
.buttonLos {
	height: 40px;
	width: 150px;
	color: #FFFFFF;
	background-color: #001a3a;
	border: solid 3px #001a3a;
	border-radius: 5px;
	font-size: 13px;
	font-family: brandon-grotesque;
	font-style: normal;
	margin-top: 20px
}

/*Footer*/
#footerLogin {
	position: fixed;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

/*Footer checkFlieder*/
#footerLogincheckFlieder {
	color: #a1b9ed;
	font-size: 9 px;
	font-family: roboto thin;
}

/*Footer checkNacht*/
#footerLogincheckNacht {
	color: #001a3a;
	font-size: 9 px;
	font-family: roboto thin;
}

/*Icons*/
.icons{
	color: #001a3a;
	width: 200%;
}