
.nav {
	background: #001a3a;
	background-image: url(https://github.com/WAW-WS16/images/blob/master/logo.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 12px;
	height: 60px;	
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	text-decoration: none;
	display: block;
	padding: 0px 5px; 
	float: left;	
}


/*definiert den Split*/
.split{
  display: inline-block;
  height: 30px;
  width: 1px;
  margin:6px 0px -0px 6px;
  padding: 0px;
  border-left: solid #4565ad 1px;
}

/*definiert die Buttons*/
.nav-item{
  background-color: #353635;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 4px;
  margin: 2px 1px;
}


/* definiert Größe und das Bild der Buttonleiste*/
.header {
	border-radius: 0px;
	height: 60px;
	padding-top: 10px;
	background-image: url(https://github.com/WAW-WS16/images/blob/master/logo.png?raw=true);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 140px;
}

/*Ordnet den Buttons Bilder zu und bewirkt den Hover-Effekt*/
#chapter-overview {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/chapterOverview-inactive.png?raw=true);
}

#chapter-overview:hover {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/chapterOverview-active.png?raw=true);
}

#educational-plan {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/educationalPlan-inactive.png?raw=true);
}

#achieved-competences {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/achievedCompetences-inactive.png?raw=true);
}

#profile {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/student/superhero-batman-inactive.png?raw=true);
}

#school-profile {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/school/school-inactive.png?raw=true);
}

#study-group {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/studyGroup/studyGroup_10+_inactive.png?raw=true);
}

#help {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/help-inactive.png?raw=true);
}

#logout {
	background-image: url(https://github.com/WAW-WS16/images/blob/master/logout-iactive.png?raw=true);
}

