@CHARSET "UTF-8";

/*Eingabefelder*/
.inputProfilLöschen {
	border-radius: 5px;
	height: 40px;
	width: 300px;
	font-size: 13px;
	font-family: brandon-grotesque;
	font-style: normal;
	margin-bottom: 6px;
	border-color: #a1b9ed;
	border: 3px solid #001a3a;
}

/*Eingabefeld Benutzername*/
.field-border {
	border: 3px solid #bcd2ee;
	border-radius: 6px;
	font-familiy: roboto;
}

input[type=password]:focus {
	border: 3px solid #555;
}



.logoProfilLöschen{
	margin-top: 40px;
	margin-bottom: 12px;
}


.buttonÄndern {
	height: 40px;
	width: 150px;
	color: #FFFFFF;
	background-color: #001a3a;
	border: solid 3px #001a3a;
	border-radius: 5px;
	font-size: 13px;
	font-family: brandon-grotesque;
	font-style: normal;
	margin-top: 20px
}


#schriftProfilLöschen{
	color: #001a3a;
	font-size: 20 px;
	font-family: roboto;
	text-align: center;
}

